body{
	padding-bottom: 500px;
}

.footer {
	color: white;
	background-color: black;
}

#linkedin{
	color: white;
}

#navigation{
    height: 50px;
	background-color: lightblue;
}

.navbar-nav{
    margin-left: auto;
    background-color: lightblue;
}

.nav-item{
	height: 50px;
    width: 100px;
    text-align: center;
    justify-content: center;
}

#empty-links{
	text-decoration: none;
	color: white;
}